#container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
}

.move {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 10%;
  bottom: 10%;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.5s;
}
